.container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
}

.box {
  width: 400px;
  height: 400px;
  background-color: red;
}

.text {
  font-size: 32px;
  font-family: sans-serif;
  outline: none;
}
