.cell {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  font-size: min(48px, 10vw);
  font-weight: bold;
  vertical-align: middle;
  aspect-ratio: 1 / 1;
}

.cell:not(:disabled){
  cursor: pointer;
}

.cell:not(:disabled):hover{
  background-color: #fafafa;
}